= form_tag search_path, method: :get, remote: true do
  = text_field_tag :search_text, nil, placeholder: t('.placeholder'), class: "form-control"
  = submit_tag t('.search'), class: "btn btn-outline-success mt-2"