.bs-container {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.12);
}
.main-container {
  min-height: 100vh
}
.section {
  display: block;
  border-radius: 11px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 700px;
  margin: 5% auto;
}

.name {
  font-size: 20px
}

.post-content {
  font-size: 14px
}

.activity {
  padding: 10px;
  margin: 10px;
}

.flash-notice {
  min-height: 50px;
}